<!DOCTYPE html>
<html>
<head>
    <title>Registration Successful</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="alert alert-success">
        Registration successful! You can now <a href="/login">login</a>.
    </div>
    <p>Or go to other pages:</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register a new user</a></li>
    </ul>
</div>
</body>
</html>
